*{
  margin: 0;
  padding: 0;
}

body {
  color: aliceblue;
  background-color: black;
}


.footerfondo {
  color: aliceblue;
  background-color: rgba(67, 68, 66, 0.938);
}

.fondoBody {
  color: black;
  background-color: rgb(247, 248, 246);
}

